@{
    ViewData["Title"] = "Home Page";
}

<section class="pt-5 pb-3 text-center container"></section>
    <div class ="row">
        <div class= "col mx-auto">
            <h1>Winxes</h1>
            <div class="group">
                <button id= "btn-all" class="btn btn-md my-2 text-white bg-secondary"
                    todos</button>
                <button id = "btn-fogo" class="btn btn-sm my-2 text-white btn-filter"
                    style= "background-color: #df2828">fogo</button>
                <button id = "btn-fogo" class="btn btn-sm my-2 text-white btn-filter"
                    style= "background-color: #5d40ff">Sonoro</button>
                <button id = "btn-fogo" class="btn btn-sm my-2 text-white btn-filter"
                    style= "background-color: #28cadf">Água</button>
                <button id = "btn-fogo" class="btn btn-sm my-2 text-white btn-filter"
                    style= "background-color: #80df28">Planta</button>
                <button id = "btn-fogo" class="btn btn-sm my-2 text-white btn-filter"
                    style= "background-color: #df28b7">Tecnologia</button>
                <button id = "btn-fogo" class="btn btn-sm my-2 text-white btn-filter"
                    style= "background-color: #df6228">Protetor</button>
                <button id = "btn-fogo" class="btn btn-sm my-2 text-white btn-filter"
                    style= "background-color: #5f0b51">Energia</button>
                <button id = "btn-fogo" class="btn btn-sm my-2 text-white btn-filter"
                    style= "background-color: #5f0b0b">Fauna</button>
            </div>
         </div>
    </div>

